html{
    font-family: 'PT Serif', serif;
}

h1{
    font-size: px;
}

header{
    background: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-color: lightskyblue;
    background-position: center;

    
}
.bottom-image{
    font-size: 10px;

}

span{
    background-color: yellow;
}

.logo{
    width: 120px;
    height: 100px;
}

table{
    width: 100%;
    

}
th{
    text-align: left;
    color:white;
    background-color: rgb(80, 166, 213);
    
}


td{
    width:20% ;

}
.color-skyblue{
    background-color: skyblue;
}
