html{
    font-family: 'PT Serif', serif;
    font-size: 20px;
}

body{
    margin:0;
}

h1{
    font-size: 50px;
}

header{
    background: url("../img/pattern.png");
    background-color: rgb(86, 183, 244);
    background-position: top;
    height:180px;

    
}
.blue-text{
    color:skyblue;
}
.bottom-image{
    font-size: 10px;
}


.img-fst{
    width: 50%; 
}
.img-snd{
    width:1300px;
    height:950px;
}


.logo{
    position:relative;
    padding-top: 5px;
    width: 300px;
    height: 280px;
}

.yellow{
    background-color: yellow;
}


table{
    width: 100%;
    border-collapse: collapse;

}

th{
    text-align: left;
    color:white;
    background-color: rgb(80, 166, 213);

    
}


td{
    width:20% ;


}
.color-skyblue{
    background-color: skyblue;
    
}

.container{
    position: relative;    
    width: 100%; 
}

h2{
position: absolute;
color:white;         
top: 0px; 
left: 5px; 
width: 100%; 
}